body {color:#40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top_container {
  background-color: #E4F5F9;
  padding-top: 150px;
  position: relative;
}

.middle_container {padding:100px 0;}
.intro{width:50%;
margin:auto;
}

.bottom_container {padding:50px 0;
  background-color:#66BFBF;
margin-top:100px;}
.profile{  width: 50%;
  margin: 100px auto;}
p{font-weight: bold;
  line-height: 2;}

.skill_row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0px auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625em;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
}

body {
  margin-top: 0;
}

.top_cloud {
  position: absolute;
  right: 300px;
  top: 60px;
}

.bottom_cloud {
  position: absolute;
  left: 350px;
  top: 480px;
}

.DP {
  height: 200px;
}

.bike {
  padding-right: 30px;
  height:200px;
  float: left;

}

.photography {
  height: 200px;
padding-left: 30px;
float: right;


}

.mountain {
  padding-bottom: 20px;
}
hr
{width:5%;
border-top-color: gray;
border-style: dotted hidden hidden hidden;
border-width: 5px;
}
.footer-link{padding:2em;
}
.footer-link:hover{color: white;}
.copyright{color:white;
padding: 20px;
font-size:0.75rem;}
a{text-decoration: none;
}

.contact_message{width:30%;
margin:40px auto 60px;}
.btn {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF !important;
  font-size: 16px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  border-radius: 8px;
  border: 0px solid #54FFD1;
  background: #11CDD4;
  background: linear-gradient(to top, #11CDD4, #11999E);
}
.btn:hover {
  color: #FFFFFF !important;
  background: #33E3CB;
  background: linear-gradient(to top, #33E3CB, #2BC4AB);
}
